.move-right > .inner-wrap {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.left-off-canvas-menu {
  -webkit-backface-visibility: hidden;
  width: 13rem;
}

#main, #blog {
  position: absolute;
  width: auto;
  left: 13rem;
  right: 0;
  top: 0;
  bottom: 0;
}
